.forecast-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  li:nth-child(2) {
    margin: 0 2rem;
  }

  padding: 0;
  li {
    list-style: none;
  }
}
