.home-page {
  color: var(--color-white);
  background-color: rgba($color: #000000, $alpha: 0.3);
  max-height: 90vh;
  min-height: 80vh;
  border-radius: 5px;
  .contacts {
    display: inline-flex;
    padding-bottom: 1em;
    a:nth-child(2) {
      margin: 0 3em;
    }
    img {
      max-width: 70%;
    }
  }

  p {
    font-weight: bold;
  }
  .hero {
    display: none;
  }
}

@media (orientation: landscape) {
  body {
    .home-page {
      max-height: 70vh;
      .contacts {
        img {
          max-width: 50%;
        }
      }
    }
  }
}
