.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 3;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: scroll;
    background-color: white;
  }

  li a {
    display: block;
    padding: 15px 20px;
    // border-right: 1px solid var(--color-black);
    color: var(--color-black);
    font-weight: 700;
    text-decoration: none;
  }

  li a:hover,
  .menu-btn:hover,
  .active {
    background-color: #f4f4f4;
  }

  /* menu */

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  /* menu icon */

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 25px 20px;
    position: relative;
    user-select: none;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    margin: 1em;
  }

  .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 25px;
  }

  .menu-icon .navicon:before,
  .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 70%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .menu-icon .navicon:before {
    top: 6px;
  }

  .menu-icon .navicon:after {
    top: -6px;
  }

  /* menu btn */

  .menu-btn {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    max-height: 600px;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  @media (min-width: 69em) {
    ul {
      background-color: transparent;
    }
    li {
      float: left;
    }
    li a {
      padding: 15px 8px;
      font-size: clamp(0.5em, 1.5vw, 2em);
    }
    .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }
  }
}
