.nav-bar {
  height: 10vh;
  padding: 0.7em 0;
  font-size: 1em;
  font-weight: 600;
  ul {
    text-align: right;
    margin-right: 2em;
  }
  li {
    display: inline-block;
    padding-left: 1em;
    a {
      color: black;
      text-decoration: none;
    }
  }
}
