.hourly-forecast {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black-transparent2);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  .modal-content {
    // background-color: var(--color-black-transparent2);
  }
  .close-btn {
    font-family: monospace;
    position: absolute;
    top: 2%;
    right: 2%;
    color: var(--color-white);
    background-color: transparent;
    border: none;

    font-size: clamp(1.8rem, 4vw, 4rem);
  }
}
