.hourly-forecast {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black-transparent);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
