.actual-weather {
  background-color: rgba($color: #000, $alpha: 0.6);
  color: var(--color-white);
  margin: 2rem;
  border-radius: 5px;
  padding: 2rem;
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  li {
    list-style: none;
    text-align: center;
  }
}
