.daily-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: rgba($color: #000, $alpha: 0.6);
  color: var(--color-white);

  border-radius: 5px;
  padding: 1rem;

  li {
    list-style: none;
    font-size: clamp(1em, 2.6vw, 2em);
  }
  .svg-icon {
    width: 12%;
    margin-right: 0.4rem;
  }
}
