.EntranceGate{
  header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  svg{
    fill: transparent;
    background-color: transparent;
  }
  path{
    stroke: black;
    stroke-width: 2px;
   
;}
button{
  display: inline-block;
  background: var(--second-color);
  border: 2px solid black;
  color: black;
  width: 10%;
  padding: 1em 0;
  text-transform: uppercase;
  
}
}




