@import "./normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

:root{
  --first-color: #9DD3CC;
  --second-color:#DB7C7B;
  --thirth-color: #65DBCC;
  --fourth-color: #DBA24F;
  --fifth-color: #5ADB81;
}



body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--first-color);
  
  background-size: contain;
  background-position-x: left;
  background-position-y: bottom;
  color: black;
}


