@import "./normalize.scss";

:root {
  --color-white: #fff;
  --color-light-white: #eee;
  --color-tomato: #d40640;
  --color-purple-transparent: rgba(88, 24, 69, 0.9);
  --color-pink-transparent: rgba(216, 14, 91, 0.9);
  --color-orange: #ff3c00;
  --color-light-black: #222;
  --color-black: #000;

  --shadow: rgba(0, 0, 0, 0.4);
}
body {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;

  background-image: url(../img/italy-4587336_1920.jpg);
  background-size: cover;
}
h1 {
  text-align: center;
  // padding: 0.6em 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
p {
  text-align: center;
}
