@import "./normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --color-white: #fff;
  --color-light-white: #eee;
  --color-tomato: #d40640;
  --color-purple-transparent: rgba(88, 24, 69, 0.9);
  --color-pink-transparent: rgba(216, 14, 91, 0.9);
  --color-orange: #ff3c00;
  --color-light-black: #222;
  --color-black: #000;

  --shadow: rgba(0, 0, 0, 0.4);
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;

  background-image: url(../img/italy-4587336_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  font-size: clamp(1.3em, 7vw, 4em);
}
main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.container {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
p {
  text-align: center;
  font-size: clamp(1em, 5vw, 3em);
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    max-width: 500px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }
}

@media (orientation: landscape) {
  body {
    h1 {
      font-size: clamp(1.3em, 5vw, 3em);
    }
    p {
      text-align: center;
      font-size: clamp(1em, 3vw, 2em);
    }
  }
}
