.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}
.carousel-content-wrapper {
  div {
    width: 500px;
    text-align: center;
  }
}
