.carousel-item {
  margin-left: 2rem;
  white-space: nowrap;
  p {
    font-size: clamp(1rem, 2vw, 2rem);
    margin: 0.5rem;
  }
  img {
    max-width: 80%;
  }
  .svg-icon {
    max-width: 42%;
    margin-right: 0.4rem;
  }
}
